.DS_Store
.env
*LICENSE
package-lock.json
bin/curlwp.sh
bin/wineinstall.sh
docker/couchdb/etc/
docker/pynote*
docker/rundeck/
docker/tensorflow/
docker/wp/
docker-caddy/
docker-commento/
node_modules/
tf/.terraform/
tf/*.tfstate*
tf/*.tfvars
tf/*.plan
tf/modules/all/
